.WhatsApp{
    display: flex;
    flex-direction: column;
    background: rgb(20, 96, 172);
    width: 450px;
    padding: 20px;
    margin: 0 auto;
    gap:10px;
}
.cmd-input-area{
    width: 450px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid aliceblue

}
label {
    color: aliceblue;
}
.cmd-button
{
    background: none;
    border: none;   
    cursor: pointer;
    color: aliceblue;
    border-radius: 15px;
    height: 30px;
    width: 50px;
}
.cmd-botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.div-papa{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}
.input-area-registrarse-provincia{
    display: flex;
    align-items: center;
}
.input-area-registrarse-municipio{
    display: flex;
    align-items: center;
}