.cabeza1
{
    display:flex;
}
.h3-1-cabeza-lugares
{
   color: aliceblue;
   margin-left: 4px;
   margin-top: 30px;
}
.h3-2-cabeza-lugares
{
   color:aqua;
   margin-left: 4px;
   margin-top: 30px;
 }
 .h1-cabeza
{color: aliceblue;
}

    
