.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;  
}

.perfil-info-producto {
  display: flex;
  margin-bottom: 20px;
  gap:30px;
  justify-content: space-between;
}

.img-class-info-producto img {
  /* Para hacer la imagen circular */
  /*border-radius: 50%; */
}

.product-info {
  width: 100%;
  color: white;
}

.parrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

p {
  margin: 1px;
}

.img-info-producto
{
    height: 230px;
    width: 230px;
    object-fit: cover;
 }
