.main {
  display: flex;
  flex-direction: column;
}

.perfil-info-producto {
  display: flex;
  justify-content: center;
  background: rgb(20, 96, 172);
  gap:10px;
}

.negocio-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgb(20, 96, 172);
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
}

.parrafo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

p {
  margin: 1px;
}

.img-info-negocio
{
  height: 285px;
  width: 285px;
  object-fit: cover;
  margin-top: 10px; 
 }

 .mapa-negocio{
  position: relative;
}
.div-Papa-InfoNegocio{
  display: flex;
  flex-direction: column;
  background: rgb(20, 96, 172);
  margin: 0 auto;
  width: 375px;
}
.wapp{
  margin-right: 5px;
}
