.main-info-producto {
  display: flex;
  flex-direction: column;
}

.perfil-info-producto-1 {
  display: flex;
  justify-content: center;
  background: rgb(20, 96, 172);
  gap:8px;
}

.img-class-info-producto{
  display: flex;
  flex-direction: row;
  position: relative;
}
.img-class-info-producto img {
  border-radius: 15px;
}
.product-info-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 28px;
}
.mapa-producto{
  position: relative;
  height: 100vh;
}

.parrafo {
  display: flex;
  flex-direction: row;
}

p {
  margin: 1px;
}
.img-info-producto
{
  height: 285px;
  width: 285px;
  object-fit: cover;
  margin-top: 10px; 
}

 .offon-info-producto{
  border-radius: 100%;
  background:white;
  border: none;
  color:red;
  position: absolute;
  z-index: 10;
  right: 0;
}

.info-image-onoff{
  border-radius: 100%;
  border: none;
  color:green;
  background:white;
  position: absolute;
  z-index: 10;
  right: 3px;
  margin-top: 32px;}

  .info-image-offon{
  border-radius: 100%;
  background:white;
  border: none;
  color:red;
  position: absolute;
  z-index: 10;
  right: 3px;
  margin-top: 3px;}

.distancia{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color:white;
  margin-left: 20px;
}
.producto-fotos{
  display: flex;
  flex-direction: column;
  }
  .img-info-producto-lateral{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid aliceblue;
    margin-top: 13px;
    margin-left: 10px;
  }
  .div-papa-infoProducto{
    display: flex;
    flex-direction: column;
    background: rgb(20, 96, 172);
    margin: 0 auto;
    /*width: 100%;*/
    width: 375px;
  }

  .mapa-1{
    width: 100%;
    background: rgb(20, 96, 172);
  }
  .font-size1{
    font-size: 18px;
    text-decoration: none;
  }
  .car-info{
    margin-left: 50px;
    margin-top: 100px ;
  }
  .agrupa-info{
    display: flex;
    justify-content: center;
    background: rgb(20, 96, 172);
  }
  .mapa-9{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .ws{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .wapp{
    margin-right: 5px;
  }
  .Info-Productos{
    background-color: rgb(22, 104, 187);  
  }
  .encabezado-Info-Producto{
    color:aliceblue;
    margin-left: 29px;
  }