.card-slider{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100px;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content:space-between;
    padding: 25px 5px 60px 5px;
    text-decoration: none;
}
.card-slider-titulo{
    font-size: 16px;
    color: black;
}
.card-slider-descripcion{
    font-size: 12px;
    color:black;
}
.card-slider-img{
    height: 90px;
}
