.card-slider-pc{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 150px;
    height: 160px;
    gap: 20px;
    background-color: white;
    border-radius: 15px;
    border: rgb(0 7 14) solid;
    border-width: 1px;    
    align-items: center;
    justify-content: start;
    padding: 25px 5px 60px 5px;
    text-decoration: none;
    /*100-140*/
}
.card-slider-movil{
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100px;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    border: rgb(0 7 14) solid;
    border-width: 1px;    
    align-items: center;
    justify-content:space-between;
    padding: 25px 5px 60px 5px;
    text-decoration: none;
    /*100-140*/
}
.card-slider-titulo{
    font-size: 14px;
    color: black;
}
.card-slider-descripcion{
    font-size: 12px;
    color:black;
}
.card-slider-img{
    height: 90px;
}
