.gridCentral {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px auto 0 auto;

}

@media (max-width: 1700px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1500px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 790px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 470px) {
  .gridCentral {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 330px) {
  .gridCentral {
    grid-template-columns: 1fr;
  }
}

.gapCentral {
  gap: 20px;
}
