h3 {
  color: aliceblue;
}

.aplicaciones {
  width: 300px;
  display: flex;
  flex-direction: column;
  background: rgb(20, 96, 172);
  padding: 15px;
  margin: 0 auto;
  border-radius: 15px;
}

.container-aplicaciones {
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}

.app-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.app-flex-gap {
  gap: 11px;
  color: aliceblue;
  padding: 5px;
}

.app-select-naturaleza {
  height: 32px;
  border-radius: 100px;
  border: 1px solid aliceblue;
  padding-left: 7px;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-input-area {
  height: 28px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  padding-left: 7px;
}

.grupo-button-app {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
}

.div-papa-aplicaciones {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*width: 100%;*/
}

.img-producto {
  height: 272px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.atras {
  color: aliceblue;
  margin-left: 4px;
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
}

html {
  background-color: rgb(22, 104, 187);
}
