.aplicaciones
{
    width: 450px;
    display: flex;
    flex-direction: column;
    background: rgb(20, 96, 172);
    padding: 15px;
    margin: 0 auto;
    border-radius: 15px;   
}
.container-aplicaciones
{
    height: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}
.app-grip{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
}
.app-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
    /*width: 100%;*/

}
.app-flex-gap{
    gap:19px;
    color:aliceblue;
    padding: 5px;
    
}
.app-select-naturaleza{
    width: 100%;
    height: 32px;
    border-radius: 15px;
    border: 1px solid aliceblue;
    padding-left: 7px;
}
.app-input-area{
    width: 97%;
    height: 28px;
    border-radius: 15px;
    border: 1px solid aliceblue;
    padding-left: 7px;
}
    
.grupo-button-app
{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}
.div-papa{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}
.flecha{
    color: aliceblue;
}
.img-producto {
    height: 272px;
    width: 100%;
    margin-top: 4px;
    object-fit: cover;
}