.card-row {
  display: flex;
  position: relative;
  background-color: rgb(2, 114, 226);
  border-radius: 18px;
  border: rgb(20, 96, 172) solid;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top, rgb(20, 96, 172), #ffffff)  
}

.card-image-button {
  border-radius: 100%;
  background: aliceblue;
  border: none;
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 5px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.on {
  color: rgb(2, 128, 2);
}

.off {
  color: red;
}

.card-image-button svg {
  font-size: 1.2rem;
}

.card-row p {
  padding: 0;
  margin: 0;
}

.card-row img {
  cursor: pointer;
  object-fit: contain;
  border-radius: 15px 15px 0px 0px;
}

.card-row .button-container {
  display: flex;
  gap: 9px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.card-row .button-container button {
  background: none;
  border: none;
  color: rgb(242 245 247);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.card-row .info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0 15px;
}

.new {
  width: 25px !important;
  border-radius: 25px !important;
}

.card-texts {
  flex: 1;
  padding-top: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-texts h5 {
  color: aliceblue;
}

.card-texts p {
  color: #bdb;
}

.modal-cardrow {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 30px;
  left: 4px;
  color: aliceblue;
  overflow: auto;
}

.label-card-row {
  margin-top: 15px;
}

.label-datos-producto {
  color: aliceblue;
}

.menu-opciones {
  display: flex;
  margin-bottom: 10px;
}

.input-area-row {
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px 10px 0;
}

.label-cantidad {
  margin-left: 210px;
}

.label-precio {
  margin-left: 20px;
}

.precio-cantidad-row {
  width: 90px;
  justify-content: space-between;
  display: flex;
  padding: 0 15px;
}

.title-opciones {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .card-row {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap {
  gap: 10px;
}

.texto-1 {
  font-size: 13px;
  color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  font-weight: bold;
  font-stretch: expanded;
}

.irA {
  width: 1rem;
  height: 1.3rem;
  color: aliceblue;
}
.card-image-onoff{
  border-radius: 100%;
  border: none;
  color:#04f804;
  background:transparent;
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px
}
.card-image-onoff svg{
  font-size: 1.2rem;
}
.card-image-offon{
  border-radius: 100%;
  background:transparent;
  border: none;
  color:red;
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px
}
.card-image-offon svg{
  font-size: 1.2rem;
}
