.card-row {
  display: flex;
  background-color: rgb(2, 114, 226);
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
}
.card-image-onoff{
  border-radius: 100%;
  border: none;
  color:#04f804;
  background:transparent;
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px
}
.card-image-onoff svg{
  font-size: 1.2rem;
}
.card-image-offon{
  border-radius: 100%;
  background:transparent;
  border: none;
  color:red;
  position: absolute;
  z-index: 10;
  right: -5px;
  top: 5px
}
.card-image-offon svg{
  font-size: 1.2rem;
}

.card-row p {
  padding: 0;
  margin: 0;
}

.card-image {
  /*height: 150px;*/
  position: relative;
}

.card-image img {
  padding-top: 10px;
  width: 58%;
  height: 70%;
  cursor: pointer;
  object-fit: contain;
  border-radius: 15px 15px 0px 0px;
  padding-left: 27px;}

.card-row .button-container {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
/*  margin-top: 10px;*/
}

.card-row .button-container button {
  background: none;
  border: none;
  color: rgb(242 245 247);
  cursor: pointer;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.card-row .info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0 15px;
}

.new {
  width: 25px !important;
  border-radius: 25px !important;
}

.card-texts {
  flex: 1;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-texts h5 {
  color: aliceblue;
}

.card-texts p {
  color: #bdb;
}

.modal-cardrow {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 30px;
  left: 4px;
  color: aliceblue;
  overflow: auto;
}

.label-card-row {
  margin-top: 15px;
}

.label-datos-producto {
  color: aliceblue;
}

.menu-opciones {
  display: flex;
  margin-bottom: 10px;
}

.input-area-row {
  display: flex;
  justify-content: flex-start;
  margin: 10px 10px 10px 0;
}

.label-cantidad {
  margin-left: 210px;
}

.label-precio {
  margin-left: 20px;
}

.precio-cantidad-row {
  width: 90px;
  justify-content: space-between;
  display: flex;
  padding: 0 15px;
}

.title-opciones {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .card-row {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap {
  gap: 10px;
}

.texto-1{
 font-size: 12px;
 color: rgb(255, 255, 255);
 width: 100%;
 display: flex;
}    
.irA{
  width: 1rem;
  height: 1.3rem;
  color: aliceblue;
}