.registrarse {
  display: flex;
}

.container-registrarse {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgb(20, 96, 172);
  border-radius: 15px;
  margin: 0 auto;
  gap: 10px;
}

.grupo-button-registrarse {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.label-registrase-size {
  font-size: 20px;
}
.label-datos-size {
  font-size: 16px;
}

.label-grupo {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.input-area-registrarse select,
.input-area-registrarse input {
  border: none;
  padding: 4px 10px;
  border-radius: 15px;
  background-color: white;
}

.input-area-registrarse {
  color: aliceblue;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 7px;
}

@media (max-width: 600px) {
  .container-registrarse {
    width: 285px;
  }

  .input-area-registrarse {
    display: flex;
    flex-direction: column;
  }
}

.registrarse h2 {
  color: aliceblue;
}

.registrarse-button {
  background: none;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  color: aliceblue;
  border-radius: 15px;
}

.input-cp {
  display: flex;
  margin: 10px 10px 10px 0;
  margin-left: 170px;
}

.cp {
  width: 12px !important;
  justify-content: center !important;
  color: aliceblue;
  margin-right: 10px;
}

.lseguridad {
  color: aliceblue;
  background-color: crimson;
  font-weight: bold;
  width: 295px;
  margin-top: 10px;
}

.label-pin {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  color: whitesmoke;
  margin-top: 5px;
}

.label-comprobacion {
  margin-right: 20px;
}

.label-pin-1 {
  margin-left: 125px;
}

.label-aster {
  margin-left: 10px;
}

.input-area-foto-registrarse {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.label-2-registrarse {
  color: aliceblue;
  margin-right: 80px;
}

.label-2-1-registrarse {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  padding: 5px;
  font-size: 13px;
  height: 20px;
}

.label-vista-registrase-1-1 {
  color: aliceblue;
  width: 82px;
  margin-top: 3px;
  margin-left: 8px;
}

.img-registrarse {
  height: 280px;
  width: 247px;
  object-fit: contain;
}

.select-registrarse-plan {
  width: 203px;
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  border: 1px solid aliceblue;
}

.select-registrarse-prov {
  width: 203px;
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  margin-bottom: 5px;
}

.select-registrarse-munic {
  width: 203px;
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  margin-bottom: 5px;
}

.select-registrarse-poblado {
  width: 210px;
  border: none;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  margin-bottom: 5px;
}

.select-registrarse-reparto {
  width: 210px;
  border: none;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  margin-bottom: 5px;
}

.mlc {
  margin-right: 0px;
}

.cup {
  margin-right: 2px;
}

.usuario {
  margin-right: 43px;
}

.email {
  margin-right: 68px;
}

.celular {
  margin-right: 47px;
}

.pw {
  margin-right: 26px;
}

.rpw {
  margin-right: 20px;
}

.nombre {
  margin-right: 53px;
}

.ci {
  margin-right: 85px;
}

.fijo {
  margin-right: 53px;
}

.sede {
  margin-right: 32px;
}

.desc {
  margin-right: 16px;
}

.registrarse-cabeza {
  color: aliceblue;
}

.registrarse-cabeza-1 {
  color: aliceblue;
  margin-top: 3px;
}

.resultado-registrarse {
  color: rgb(128, 243, 233);
  font-size: 15px;
}

.mapa-registrarse {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
}

.mapa-registrarse-1 {
  background: rgb(20, 96, 172);
}

.datos {
  margin-right: 69px;
}

.otros-datos {
  margin-right: 21px;
}
.email-registrarse{
  margin-left: 0px;
}