h3 {
  color: aliceblue;
}

.aplicaciones {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.container-aplicaciones {
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  background: rgb(20, 96, 172);
  padding: 15px;
  border-radius: 15px;
}

.app-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
}

.app-flex-gap {
  gap: 11px;
  color: aliceblue;
  padding: 5px;
}

.app-select-naturaleza {
  height: 32px;
  border-radius: 100px;
  border: 1px solid aliceblue;
  padding-left: 7px;
}

.form-main {
  display: flex;
  gap: 20px;
  width: 100%;
}

@media (max-width: 760px) {
  .form-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-input-area {
  height: 28px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  padding-left: 7px;
}

.grupo-button-app {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
}

.div-papa-aplicaciones {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 70%;
}

@media (max-width: 1100px) {
  .div-papa-aplicaciones {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .div-papa-aplicaciones {
    width: 95%;
  }
}

.img-producto {
  height: 272px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  object-position: center;
}

.atras {
  color: aliceblue;
  margin-left: 4px;
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
}

html {
  background-color: rgb(22, 104, 187);
}

.button-on{
border: 1px solid aliceblue;
}
.button-off{
border: none;
}
.select-frm {
  height: 32px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  padding-left: 7px;
}
