.navbar-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 114, 226);
}

.logo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.logo-img-one {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 5px;
}

.link-logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 10px;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
  width: 70%;
  gap: 10%;
  padding-top: 10px;
}

.links {
  display: flex;
  justify-content: left;
  align-items: center;
}

.links a {
  color: aliceblue;
  padding: 4px 0;
  margin: 4px 0;
}

.filter {
  color: aliceblue;
  padding: 5px;
  align-items: center;
  border-radius: 1rem;
  min-width: 0;
}

.hamburguesa {
  color: aliceblue;
  padding: 5px;
  align-items: center;
  border-radius: 1rem;
  min-width: 0;
}

.galerias {
  color: aliceblue;
  padding: 5px;
  align-items: center;
  border-radius: 1rem;
  min-width: 0;
}

.label-pop-up {
  color: aliceblue;
}

.button-no-login-1 {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.menu-nav {
  font-size: 16px;
  text-decoration: none;
}

.buscar-input {
  height: 25px;
  flex: 1;
  padding-left: 5px;
}

.input-lupa {
  position: relative;
  flex: 1;
}

.input-lupa form {
  width: 100%;
  display: flex;
}

.lupa {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: -8px;
}

.agrupa-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.optional-buttons,
.menuTercero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.optional-buttons {
  gap: 0px;
}

@media (max-width: 365px) {
  .optional-buttons {
    display: none;
  }
}

.place {
  display: flex;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

.tools-color {
  color: white;
}

.ubicacion {
  font-size: 16px;
  color: aliceblue;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.alter p {
  color: #1b1b1b !important;
}

.dialog {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dialog-close {
  position: absolute;
  right: 8px;
  top: 8px;
  color: gray;
  border-radius: 100%;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center center;
}

.dialog-close:hover {
  background-color: rgba(216, 216, 216, 0.445);
}

.dialog-button-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog-submit {
  color: black;
  background-color: aliceblue;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 4px 16px;
  gap: 8px;
}

.dialog-submit:hover {
  background-color: rgb(5, 130, 255);
}

.form-col select {
  border: none;
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid aliceblue;
  width: 250px;
  background-color: aliceblue;
}

button {
  transition: background-color 300ms ease-in-out;
}

button-color {
  color: aliceblue !important;
}

@media screen and (max-width: 1100px) {
  .agrupa-menu,
  .navbar-main {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .navbar-main {
    padding-top: 0;
    gap: 50px;
  }
}

.responsive-lupa {
  display: none !important;
}

@media screen and (max-width: 730px) {
  .input-lupa {
    display: none;
  }

  .responsive-lupa {
    display: inline-flex !important;
  }

  .navbar-main {
    gap: 0px;
  }
}

@media screen and (max-width: 730px) {
  .logo-img-one {
    width: 32px;
    height: 32px;
  }
}

.input-buscar-movil {
  background-color: aliceblue;
  color: black;
  background-color: aliceblue;
  border: none;
  border-radius: 100px;
  padding: 4px 16px;
}
