.acercade {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  color: aliceblue;
  gap:5px;
}
  

.logo-acerca {
  display: flex;
  align-items: center;
}

.logo-acerca a {
  margin-right: 10px;
}

.logo-acerca img {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
.acercade-title
{
  color:aliceblue;
}

.acercade-button 
{
    background: dodgerblue;
    border: none;
    padding: 7px 15px;
    color: rgb(242 245 247);
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 15px;
}
.ws-acercade{
  display: flex;
  justify-content: center;
/*  position: relative;*/
}
.ws-acercade-1{
  background: none;
  border-radius: 5px;
  border: none;
  color:rgb(27 225 44);
  /*position: absolute;*/
  /*right: -35px;*/
  /*top: -3px;*/
  font-size: 1.7rem !important;
}

.email-acercade{
  background-color: rgb(22, 104, 187);
}
.acercade-flex{
  display: flex;
  justify-content: center;
}