.acercade {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  color: white;
  gap: 5px;
  margin-top: 20px;
}

.logo-acerca {
  display: flex;
  align-items: center;
}

.logo-acerca a {
  margin-right: 10px;
}

.logo-acerca img {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}
.acercade-title {
  color: aliceblue;
}

.acercade-button {
  background: dodgerblue;
  border: none;
  padding: 7px 15px;
  color: rgb(242 245 247);
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 2px;
  margin-right: 2px;
  border-radius: 15px;
}
.ws-acercade {
  display: flex;
  justify-content: center;
}
.ws-acercade-1 {
  background: none;
  border-radius: 5px;
  border: none;
  color: rgb(27 225 44);

  font-size: 1.7rem !important;
}

.acercade-row {
  display: flex;
  color: aliceblue;
  text-decoration: none;
  align-items: center;
  gap: 5px;
}

.email-acercade {
  background-color: rgb(22, 104, 187);
}
.acercade-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.acercade-flex-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
}

.text-center {
  text-align: center;
}
.about-1{
  color: white;
}