.grupo-button-login {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login h2 {
  color: aliceblue;
}

.container-login {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  background: rgb(20, 96, 172);
  border-radius: 15px;
  gap: 15px;
}

.err {
  padding: 5px 10px;
  color: aliceblue;
  background: crimson;
  width: 90%;
  border-radius: 15px;
}

.button-login {
  background: none;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  color: aliceblue;
  border-radius: 15px;
  display: flex;
  gap: 6px;
}

.main-title {
  color: aliceblue;
}

.title-1 {
  color: aliceblue;
}

.input-area-login input {
  padding: 3px 10px;
  border-radius: 100px;
  border: 1px solid aliceblue;
  height: 25px;
  width: 280px;
}

.addcss-login {
  font-size: 1.2rem !important;
  /*padding-left: 10px;*/
}
